{% extends "main.html.twig" %}
{% block content %}
<div class="sixteen wide column">
  <h1>The assessment</h1>
  <div class="ui divider"></div>
  <p class="main">The assessment of your master project is done based on three components: the project itself, the thesis, and the presentation. It is assessed, first of all, by your master supervisor at the university. Your supervisor at the company has an advisory role in this. To guarantee objectivity, your master supervisor will call in a so-called 'second reader', i.e. another member of the VU scientific staff who independently advises regarding your final grade. This second reader exclusively assesses the written thesis. Also for this reason it is important that the thesis itself gives adequate information on all relevant aspects of your Master research work. Therefore, it is not only the results that count; you must also describe the problem statement, research questions and design, a justification of the chosen methodology (in other words, how you get from problem to solution), and motivations for specific choices and decisions made during your research.</p>
  <div class="sub header"></div>
</div>
{% endblock %}
